.body__login {
  background-color: var(--white);
}
.main__login {
  width: 100vw;
  height: auto;
  margin: auto;
  background-color: var(--white);
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 14px;
  height: auto;
  border-top: 2px solid #d10431;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin: 2rem auto;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
    0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
    0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
    0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
}
.login-form div {
  margin: 7px 0px;
}
.login-form div input {
  width: 95%;
  border: 1px solid #828282;
  border-radius: 10px;
  padding: 15px 0px 15px 15px;
  font-size: 14px;
  margin-top: 0.3em;
}
.login-form button {
  align-self: center;
  background-color: var(--black);
  color: var(--white);
  width: 30%;
  height: 30px;
  margin-top: 0.7em;
  border: none;
  border-radius: 7px;
}
.login-form button:hover {
  background-color: var(--red);
}

/* MEDIA QUERY*/
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .login-form {
    width: 30vw;
    margin: 5rem auto;
  }
}

div.erroresLogin {
  background-color: red;
}
