/* Nav Bar Styles */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding-bottom: 10px;
  background-color: var(--fontcolor);
  overflow: hidden;
}

.main-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.main-nav li {
  text-align: center;
  margin: 15px auto;
  padding: 0 10px;
}

.main-nav li a {
  font-size: 16px;
  font-weight: bold;
}

.nav-links {
  text-decoration: none;
  color: var(--fontcolor);
}

.logo {
  display: none;
}

.search {
  display: flex;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--plain-white);
}

.search form {
  display: flex;
  width: 100%;
  border-radius: 20px;
}

.search input {
  width: 100%;
  border-radius: 20px;
  padding-left: 10px;
  border: none;
}

.search input::placeholder {
  width: 100%;
  color: black;
  border-radius: 20px;
}

.search-icon {
  color: var(--lightblue);
  padding-left: 10px;
  align-self: center;
}

.navbar-toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  cursor: pointer;
  color: black;
  font-size: 18px;
}

.nav-links i {
  color: var(--lightviolet);
}

/* START NAVBAR CATEGORIES */
.nav__categories {
  display: none;
}
.nav__categories ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
}
.nav__categories ul li {
  width: 125px;
  align-items: center;
  cursor: pointer;
  text-align: center;
}
.nav__categories__links {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
}
/* ENDS NAVBAR CATEGORIES */

@media screen and (min-width: 768px) {
  .navbar {
    padding-bottom: 0;
    height: 90px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    padding-right: 30px;
    padding-left: 0;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .main-nav li a {
    font-size: 13px;
  }

  .nav-links {
    margin-left: 20px;
  }

  .navbar-toggle {
    display: none;
  }

  .search-icon {
    color: var(--red);
    padding-left: 10px;
  }

  .nav-links:hover {
    color: var(--grey);
  }

  .nav-links i {
    color: var(--red);
  }
  .search {
    width: 50%;
  }
  .search input {
    padding: 10px 15px;
  }
  .search-icon {
    font-size: 1rem;
  }

  /* START NAVBAR CATEGORIES */
  .nav__categories {
    background-color: var(--fontcolor);
    color: #fff;
    display: flex;
  }
  .nav__categories ul {
    padding: 0;
  }

  /* ENDS NAVBAR CATEGORIES */
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 10%;
    display: block;
  }
  .search {
    width: 20%;
  }
  /* START NAVBAR CATEGORIES */
  .nav__categories {
    flex-flow: row nowrap;
  }
  .nav__categories__links {
    font-size: 1.3rem;
  }
  .nav__categories ul li:hover {
    background-color: var(--strongviolet);
    border-radius: 7px;
  }
  /* ENDS NAVBAR CATEGORIES */
}
