<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') -%>

  <body>
    <%- include('../partials/header') -%>
      <main class="main__create">
        <div class="titulo-create">PRODUCT CREATION</div>
        <div>
          <form action="/admin/store" method="POST" class="create-form" enctype="multipart/form-data">
            <div>
              <label for="name">Name:</label>
              <input type="text" name="name" />
            </div>
            <div>
              <label for="description">Description:</label>
              <input type="text" name="description" />
            </div>
            <div>
              <label for="coverImage">Cover Image:</label>
              <input type="file" name="coverImage" />
            </div>
            <div>
              <label for="rating">Rating:</label>
              <input type="numer" name="rating" />
            </div>
            <div>
              <label for="price">Price:</label>
              <input type="text" name="price" />
            </div>

            <div><input type="submit" value="Create" /></div>
            <div><input type="reset" value="Reset" /></div>
          </form>
        </div>
      </main>
      <%- include('../partials/footer') -%>
  </body>

</html>