<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') -%>

  <body class="body__login">
    <%- include('../partials/header') -%>
    <script src="/grupo_2_areshsop/src/Login.js"></script>
      <main class="main__login">
        <div class="erroresLogin"> 
          <ul>
          </ul>
        </div>
        <form action="/user/login" method="POST" class="login-form">
          <div class="form-title">Sign In</div>
          <div>
            <label for="email" class="form__label emailValidation">Emil Address</label>
            <input type="email" name="email" placeholder="Email">
            <% if (locals.errors && errors.email) { %>
              <div>
                <%= errors.email.msg %>
              </div>
              <% } %>
          </div>
          <div>
            <label for="password" class="form__label passwordValidation">Password</label>
            <input type="password" name="password" placeholder="Password">
          </div>

          <label for="rememberUser" class="form__label">Remember Me</label>
          <input type="checkbox" name="rememberUser">

          <button type="submit" name="login">SIGN IN</button>
        </form>
      </main>
      <%- include('../partials/footer') -%>
  </body>

</html>